.bg-forms {
    background-color: #343A40;
  }
.color-white{
    color: #fff !important;
}

.border-white{ 
    border: 2.5px solid #fff !important;
   
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.bg-custom{
    background-color: #343A40 !important;
}
.msf_hide{
    display: none;
  }
  .msf_show{
    display: block;
  }
  .msf_bullet_o{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .msf_bullet_o > div{
    height: 15px;
    width: 15px;
    margin: 20px 10px;
    border-radius: 100px;
    z-index: 2;
  }
  .msf_bullet{
    background-color: white;
    
  }
  .msf_bullet_active{
    background-color: #0069D9 !important;
  }
  /*AQUI TERMINA*/